asgiref==3.8.1
beautifulsoup4==4.13.4
blinker==1.9.0
click==8.1.8
crispy-bootstrap5==2025.4
Django==5.2
django-bootstrap4==25.1
django-crispy-forms==2.4
django-widget-tweaks==1.5.0
dnspython==2.7.0
email_validator==2.2.0
et_xmlfile==2.0.0
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
openpyxl==3.1.5
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-decouple==3.8
python-dotenv==1.1.0
soupsieve==2.7
SQLAlchemy==2.0.40
sqlparse==0.5.3
typing_extensions==4.13.2
Werkzeug==3.1.3
